DATABASE_URL="postgresql://ingrid_db_user:gjBaUruNBqQJsFGvhCEH6k9XvQDJtiNs@dpg-d52hfkffte5s73d6ashg-a.virginia-postgres.render.com/ingrid_db"
JWT_SECRET="your-secret-key-minimum-32-characters-long-here-12345"
JWT_REFRESH_SECRET="your-refresh-secret-minimum-32-characters-long-here"
JWT_EXPIRY="15m"
JWT_REFRESH_EXPIRY="7d"
NODE_ENV="production"
FRONTEND_URL="https://e-commerce-ca-10022200128.vercel.app"
CORS_ORIGIN="https://e-commerce-ca-10022200128.vercel.app/"